
# environments
.env
.venv
.vscode
env/
envs/
venv/
ENV/
env.bak/
venv.bak/

# extensions
*.pyc
*.ckpt
*.pth
*.safetensors
*.trt
*.onnx
*.tar
*.sh
*.gstmp
*.ipynb
*.csv

# cache
__pycache__
src/stylerank.egg-info
build
*.DS_Store
doc/build

# output
output/*
!output/.gitkeep

# data
data/*
!data/prompts.json
!data/grid.png
!data/clip_text_vs_clip_image.svg